.container-1{
    padding: 2rem;
}
.title-container-1 p {
    font-size: 36px;
    font-weight: bold;
}
.items-wrap{
    border: solid silver 1px;
    border-radius: 10px;
    padding: 2rem;
    background-color: #abe9cd;
background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

}
.items-title a{
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.items-date p{
    color: white;
}